body{
    background-image: url(../IMG/pantalla_de_titulo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1{
    color: yellow;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: skyblue;
    font-size: 4.5rem;
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    padding-top: 21%;  
}

.fondo{
    background-image: url(../IMG/fondo_de_pantalla.png);
    width: 90vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.boton{
    width: 30vh;
    padding-left: 42.3%; 
}

.columna1{
    display: flex;
    padding-top: 5%;
    width: 10%;
}

.fondobatalla{
    background-image: url(../IMG/fondo_batalla.png);  
    background-size: 213vh 100vh;
    
}

.aliado{
    width: 40vh;
    padding-right: 56.5%;
    position: relative;
    top: -30vh;
}
    
.aliado2{
    width: 40vh;
    padding-right: 56.5%;
    position: relative;
    top: -28vh;
}
    
.aliado3{
    width: 40vh;
    padding-right: 56.5%;
    position: relative;
    top: -20vh;
}

.aliado4{
    width: 40vh;
    padding-right: 56.5%;
    position: relative;
    top: -29vh;
}

.aliado5{
    width: 40vh;
    padding-right: 56.5%;
    position: relative;
    top: -19vh;
}

.aliado6{
    width: 40vh;
    padding-right: 56.5%;
    position: relative;
    top: -35vh;
}


.rival{
    width: 45vh;
    padding-left: 57.9%;
    position: relative;
    top: -35vh;
    
}

.rival2{
    width: 27vh;
    padding-left: 64%;
    position: relative;
    top: -40vh;
    
}

.rival3{
    width: 30vh;
    padding-left: 65%;
    position: relative;
    top: -30vh;
    
}

.rival4{
    width: 33vh;
    padding-left: 65%;
    position: relative;
    top: -34vh;
    
}

.rival5{
    width: 33vh;
    padding-left: 65%;
    position: relative;
    top: -30vh;
    
}

.rival6{
    width: 45vh;
    padding-left: 62%;
    position: relative;
    top: -38vh;
}

form{
    position: relative;
    bottom: -79.2vh;
    color: white;
    font-family: "Arial", sans-serif;
}

.form2{
    position: relative;
    bottom: -76.2vh;
    color: white;
    font-family: "Arial", sans-serif;
}

.estilo{
    font-size: 1.1rem;
    color: white;
    bottom: 10vh;
}
.bajo{
    position: relative;
    bottom: 15vh;
    margin-left: 150vh;
    font-family: "Arial", sans-serif;
    font-size: 1.5rem; 
    padding: 1vh 7vh; 
    background-color: #f00; 
    color: #fff; /* Color de texto */
    border: none; /* Sin borde */
    border-radius: 5vh; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    text-transform: uppercase; /* Convertir texto en mayúsculas */
}
.boton-pokemon:hover {
    background-color: #ff4500; /
}

#trampa{
   text-align: center; /* Para centrar el párrafo */
   font-size: 36px; /* Tamaño de la fuente más grande */
   color: yellowgreen; /* Color de la letra en rojo */   
}

.cheater{

    background-image: url(../IMG/tramposo.png);
}

.game_over{
    background-color: black;
    background-image: url(../IMG/GAME_OVER.gif);

}


/*Para que introducir las pistas busca las siguientes lineas: 

pregunta1-67/pregunta2-44/pregunta3-44/pregunta4-43/pregunta5-41/pregunta6-44

Si quieres darles estilo a las pistas he creado la clase ".pista" aunque se muestra bien sin estilo*/

.pista{           

    border: 2px solid #000;
    padding: 20px;
    width: 300px;
    font-family: "Arial", sans-serif;
    margin: 0 auto;
    text-align: center;
    background-color: #f0f0f0;
    top: -65.2vh;

}



.felicidades{
   background-image: url(../IMG/felicidades.PNG);
   background-position: center bottom;
   background-size: 10%;

}


.congrats{
    width: 80vh;
    padding-left: 27%;
    
}

@media only screen and (max-width: 700px){
    .boton{
        padding-left: 28%;
    }

    .fondo{
        width: 66vh;
    }

    .fondobatalla{
        width: 100%
        
    }

    .aliado{
        width: 25vh;
        top: -1vh;
       
    }

    .aliado2{
        width: 24vh;
        top: -1vh;
       
    }

    .aliado3{
        width: 24vh;
        top: -0.5vh;
       
    }

    .aliado4{
        width: 24vh;
        top: -0.5vh;
        
    }
    .aliado5{
        width: 24vh;
        top: -0.2vh;
    }
    .aliado6{
        width: 24vh;
        top: -20vh;
    }

    .rival{
        width: 30vh;
        padding-left: 50%;
        top: -25vh;
        
    }

    .rival2{
        width: 20vh;
        padding-left: 60%;
        top: -25vh;
        
    }

    .rival3{
        width: 23vh;
        padding-left: 65%;
        top: -25vh;
        
    }

    .rival4{
        width: 23vh;
        padding-left: 65%;
        top: -25vh;
        
    }

    .rival5{
        width: 23vh;
        padding-left: 65%;
        top: -25vh;
        
    }

    .bajo{
        margin-left: 30vh;
        font-size: 1.3rem; 
        padding: 2vh 4vh; 
    }

    form{
        font-size: 1rem;
        
    }

    .estilo{
        font-size: 1rem;
       
    }

}